{% extends 'base.html.twig' %}


{% block body %}
<style>
html,
body {
  height: 100%;
  margin: 0px;
  font-family: arial, helvetica, sans-serif;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top:-10%;
}

.slider {
  width: 100%;
  max-width: 750px;
  height: 400px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide__text{

}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: white;
  transform-origin: center center;
  transform: scale(1);
}

img{
    height:400px;
}

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 37%;
  width: 200px;
  margin-top:50px;
  margin-left: -100px;
  text-align: center;
  margin:auto;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: black;
  margin: 0 10px 0 10px;
}


iframe[sandbox] .read-article{
  display: none;
}




.grid1{
    margin-top:-5%;
    display: grid;
    grid-template: 1fr / 50% 50%;
    grid-template-areas:
    "a b";
    margin-bottom:15%;
}





.tab{
  padding-top:10px;
    grid-area:a;
    text-align:center;
}


.tabH{
    margin:auto;
    width:95%;
    height:auto;
    margin-bottom:auto;
    margin-top:25%;
    margin-bottom:15%;
}


.grid2{
  grid-area:b;
  padding: 10px 10px 10px 10px;
  text-align:center;
  display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas:
    "t t"
    "A B"
    "C D";
    row-gap:50px;
    column-gap:50px;  
}

.pos{
  grid-area:t;
  text-decoration: underline;
  
}

.offre1{
    grid-area: A;
	background-color: white;
  margin-top:-45%;
  border : 1mm ridge black;
  border-radius:5%;
  box-shadow: 5px 5px 5px gray;
  transition:  0.2s ease-in-out;
}

.offre2{
    grid-area: B;
	background-color: white;
  margin-top:-45%;
  border : 1mm ridge black;
  border-radius:5%;
  box-shadow: 5px 5px 5px gray;
  transition:  0.2s ease-in-out;
}

.offre3{
    grid-area: C;
	background-color: white;	
  border : 1mm ridge black;
  border-radius:5%;
  box-shadow: 5px 5px 5px gray;
  transition:  0.2s ease-in-out;
}


  


.offre4{
    grid-area: D;
	background-color: white;
  border : 1mm ridge black;
  border-radius:5%;
  box-shadow: 5px 5px 5px gray;
  transition:  0.2s ease-in-out;
  }
.offre1:hover {
       transform: scale(1.05);
  }
  .offre3:hover {
       transform: scale(1.05);
  }
  .offre2:hover {
       transform: scale(1.05);
  }
  .offre4:hover {
       transform: scale(1.05);
  }


.offreImg{
  width: 80%;
  height: 65%;
}

#aDate{
  border-top:1mm ridge black;
  padding-top: 2%;
  margin-top: 2%;

}

.recupe{
   border : 0.25mm ridge black;
    box-shadow: 5px 5px 5px gray;
    border-radius:15px;
    margin: 75px 10px 10px 10px;
    display: grid;
    grid-template: 1fr 1fr / 35% 65%;
    grid-template-areas:
    "aR bR"
    "cR cR";
}
.recupeV{
  width:100%;
  height:auto;
  grid-area:aR;
   border-radius:15px 0px 0px 0px;
}

.txtR{
  grid-area:bR;
  padding-top:10px;
  font-size:20px;
}

.btnV{
  grid-area:cR;
  
  border-top: 0.25mm ridge black;
  width:50%;
  height:70%;
  box-shadow: 5px 5px 5px gray;
  border-radius:10px;
  margin:auto;
  color:white;
  transition:  0.2s ease-in-out;
  background-color:#2C3E50;

}

.btnV:hover{
   transform: scale(1.05);
}

</style>
<div class="slider-container">
  <div class="slider">
    <div class="slides">
      <div id="slides__1" class="slide">
        <span class="slide__text"><img src="../../assets/img/elGaragisteBarbue.jpeg"/></span>
        <a class="slide__prev" href="#slides__4" title="Next"></a>
        <a class="slide__next" href="#slides__2" title="Next"></a>
      </div>
      <div id="slides__2" class="slide">
        <span class="slide__text"><img src="../../assets/img/passezSousLeCapot.jpeg"/></span>
        <a class="slide__prev" href="#slides__1" title="Prev"></a>
        <a class="slide__next" href="#slides__3" title="Next"></a>
      </div>
      <div id="slides__3" class="slide">
        <span class="slide__text"><img src="../../assets/img/GaragisteMoustachu.png"/></span>
        <a class="slide__prev" href="#slides__2" title="Prev"></a>
        <a class="slide__next" href="#slides__4" title="Next"></a>
      </div>
      <div id="slides__4" class="slide">
        <span class="slide__text"><img src="../../assets/img/garagisteEnAction.jpeg"/></span>
        <a class="slide__prev" href="#slides__3" title="Prev"></a>
        <a class="slide__next" href="#slides__1" title="Prev"></a>
      </div>
    </div>
    <div class="slider__nav">
      <a class="slider__navlink" href="#slides__1"></a>
      <a class="slider__navlink" href="#slides__2"></a>
      <a class="slider__navlink" href="#slides__3"></a>
      <a class="slider__navlink" href="#slides__4"></a>
    </div>
  </div>
  </div>

<div class="grid1">


  <div class="tab">
    <h1 class="pos">Horaires d'ouverture :</h1>
    <img src="../../assets/img/tableauHoraires.png" class="tabH">




    
    <h1 class="pos">Récupération des véhicules :</h1>
    <div class="recupe">
      <img src="../../assets/img/voiturePourRécupe.jpeg" class="recupeV">
      <p class="txtR">Nous récuperons tout véhicule endomagé a prix d'or afin de le recycler. Lorsque vous vendez un véhicule qui ne roule plus, nous obtenons des pièces détachées et les recyclons pour le bien de la planète</p>
      <input type="button" class="btnV" value="Estimé mon véhicule"/>
    </div>
  </div>

  <div class="grid2">
    <h1 class="pos">Nos offres du moment :</h1>


    <div class="offre1">
      <img src="../../assets/img/SapinVoiture.jfif" class="offreImg">
      <p></p>
      <p>Pour toute opération sur votre véhicule un sapin parfumant offert.</p>
      <p id="aDate">Du 01/10/2022 au 31/10/2022.</p>
    </div>

    <div class="offre2">
      <img src="../../assets/img/essuieGlasse.jpg.opdownload" class="offreImg">
      <p></p>
      <p>Pour toute opération pare-brise, un balai d'essuie glace offert.</p>
      <p id="aDate">Du 01/01/2022 au 31/12/2022.</p>
    </div>

    <div class="offre3">.
      <img src="../../assets/img/supTel.jfif" class="offreImg">
      <p></p>
      <p>Pour toute opération sur votre véhicule de plus de 50€, un support de téléphone offert.</p>
      <p id="aDate">Du 01/09/2022 au 31/11/2022.</p>
    </div>


    <div class="offre4">
      <img src="../../assets/img/porteCle.jfif" class="offreImg">
      <p></p>
      <p>Pour toute opération sur un pneu un porte clé offert.</p>
      <p id="aDate">Du 01/06/2022 au 31/11/2022.</p>
    </div>
  </div>
</div>



<div  class=""></div>

{% endblock %}
