<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="../assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% block header %}
<link href="../assets/styleHeader.css" rel="stylesheet" type="text/css" />
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="accueil" data-bcup-haslogintext="no"><img src="../assets/logoP.png" alt="logoP" class="logoP" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" data-bcup-haslogintext="no">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="presentation" data-bcup-haslogintext="no">PRESENTATION
            <span class="visually-hidden">(current)</span>
          </a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="prestation" data-bcup-haslogintext="no">PRESTATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="avis" data-bcup-haslogintext="no">AVIS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact" data-bcup-haslogintext="no">CONTACT</a>
        </li>
        <li class="d-flex">
          <a href="connexion" data-bcup-haslogintext="no"><img class="iconeCompte" src="../assets/img/iconeCompte.png"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% if app.session.get('ADMIN') is defined and app.session.get('ADMIN') != null %}
    <button class="deco" onclick="">Déconnexion</button>
    {% if app.session.get('ADMIN') == 1 %}
      <p class="admin">! MODE ADMIN !</p>
    {% endif %}
{% endif %}
    {% endblock %}
    <body>
        {% block body %}{% endblock %}
    </body>

    {% block footer %}
    <link href="../assets/stylefooter.css" rel="stylesheet" type="text/css" />
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Suivi de commande</a></li>
                            <li><a href="#">Livraison & retour</a></li>
                            <li><a href="#">Locations de produits</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>À propos de Omega'rage</h3>
                        <ul>
                            <li><a href="#">Recrutement</a></li>
                            <li><a href="#">Nos partenaires</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Omega'rage</h3>
                        <p>Le n°1 français de la fabrication de rayonnages et d'équipement pour la manutention industrielle depuis 1963. Provost est présent partout en France pour la plus grande satisfaction de ses 80 000 clients</p>
                    </div>
                </div>
                <p class="copyright">Omega'rage © 2022</p>
            </div>
        </footer>
    </div>
    {% endblock %}
</html>
